{% extends 'header.html'%}
{% block content %}


<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->

</div>
<div class="container">
	<form action="/captureuserfaceandsavebyname" method="POST">
		<div class="form-group">
			<label for="exampleInputEmail1">Username:</label>
			<input type="text" name="username" class="form-control" id="exampleInputEmail1"  value="{{username}}" aria-describedby="emailHelp"
				required>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">College name:</label>
			<input type="text" name="company_name" class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Enter college name" required>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Admission date:</label>
			<input type="date" name="start_date" class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Enter admission date" required>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Admission year:</label>
			<input type="text" name="End_date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
				placeholder="Enter admission year" required>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Exam Name </label>
			<input type="text" name="technlogy_worked" class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Enter Technologies Exam " required>
		</div>
		<button type="submit" class="btn btn-success">Start recognition</button>
	</form>
	<br>
</div>
<!-- The Modal -->
<script>
      window.onload = function () {
          var message = "{{ message }}";
          if (message) {
              alert(message);
          }
      }
  </script>


<!--//banner -->
{% endblock %}